/ejemplos/Ejemplos/nbproject/private/
/ejemplos/Ejemplos/build/
/ejercicios/Problemas/nbproject/private/
/ejercicios/Problemas/src/problemas/Problema 01/nbproject/private/
/ejercicios/Problemas/src/problemas/Problema 01/build/
/ejercicios/Problemas/src/problemas/Problema 02/nbproject/private/
/ejercicios/Problemas/src/problemas/Problema 02/build/
/ejercicios/Problemas/src/problemas/Problema 03/nbproject/private/
/ejercicios/Problemas/src/problemas/Problema 03/build/
/ejercicios/Problemas/src/problemas/Promedio 04/nbproject/private/
/ejercicios/Problemas/src/problemas/Promedio 04/build/
